package main

import (
  "fmt"
  "math"
  "LIBRARYNAME"
  "os"
  "strconv"
)

const ArrayDim = __ARRAYDIM__
const ArraySize = __ARRAYSZ__
const SliceSize = __SLICESZ__
const Iterations = 10
const RowsPerThread = ArrayDim/10
var Num_threads int

var A,B []float64

var Recoveries int

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
  tid, _ := strconv.Atoi(os.Args[1])
  _ = math.Inf
    
  Num_threads = __NUM_THREADS__;
	
  __START__THREADS__(tid)

}
