package main

import "fmt"
import "math/rand"
import "math"
import "dieseldistacc"

const Num_threads = __NUM_THREADS__
const RowsPerWorker = __ARRAYDIM__/__NUM_THREADS__
var Input_array [__ARRAYSZ__]float64

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
	fmt.Println("Starting main thread");
	
  // Using math becasue GoLang is crazy
  randSource := rand.NewSource(int64(math.Abs(1)))
  randGen := rand.New(randSource)

  for i:=0; i<__ARRAYSZ__; i++ {
    Input_array[i] = randGen.Float64()
  }

  __START__THREADS__

}
