package main

import "fmt"
import "math"
import "dieseldistacc"
import "os"
import "strconv"

const Num_threads = __NUM_THREADS__
const RowsPerWorker = __ARRAYDIM__/__NUM_THREADS__
var Input_array [__ARRAYSZ__]float64

var Recoveries int

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
	fmt.Println("Starting main thread");
  tid, _ := strconv.Atoi(os.Args[1])

  // using this s#!t because go complains when math not used
  _ = math.Inf  

  __START__THREADS__(tid)

}
