package main

import "fmt"
import "math"
import "LIBRARYNAME"

const Delta = 0.1
const AccelerometerError = 0.01
const Num_threads = 2

var Out, DummyVariable float64

func getGPSVelErr() float64 {
  return math.NaN()
}

func getGPSPosErr() float64 {
  return math.NaN()
}

func getGPSVel() float64 {
  return math.NaN()
}

func getGPSPos() float64 {
  return math.NaN()
}

func accelerometer() float64 {
  return math.NaN()
}

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
  __START__THREADS__(1)
}
