package main

import "fmt"
import "math/rand"
import "math"
import "time"
import "LIBRARYNAME"

const Delta = 0.1
const Num_threads = 2

var Pos, DummyVariable float64
var UsedGPS int

var pos, vel float64

// GPS error data source: https://www.gps.gov/systems/gps/performance/accuracy

// 95% probability that error < 0.006 meters/second
// simulate with normal distribution with 2sigma = 0.006 (sigma = 0.003)
func getGPSVelErr() float64 {
  return math.Abs(rand.NormFloat64()*0.003)
}

// 95% probability that error < 1.891 meters
// simulate with normal distribution with 2sigma = 1.891 (sigma = 0.946)
func getGPSPosErr() float64 {
  return math.Abs(rand.NormFloat64()*0.946)
}

func getGPSVel() float64 {
  vel += rand.NormFloat64()/10.0
  return vel
}

func getGPSPos() float64 {
  pos += vel*Delta
  return pos
}

func accelerometer() float64 {
  return rand.Float64()/10.0
}

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
  fmt.Println("Starting main thread at",time.Now().UTC().UnixNano());

  startTime := time.Now()

  rand.Seed(time.Now().UTC().UnixNano())

  pos = rand.Float64()*10.0-5.0
  vel = rand.Float64()-0.5

  UsedGPS = 0

  __START__THREADS__

  elapsed := time.Since(startTime)
  fmt.Println("Elapsed time : ", elapsed.Nanoseconds());

  fmt.Println("No. iterations GPS used:",UsedGPS)
}
