package main

import (
  "fmt"
  "math"
  "math/rand"
  "time"
  "dieselacc"
)

const ArrayDim = __ARRAYDIM__
const InnerDim = ArrayDim-2
const ArraySize = __ARRAYSZ__
const SliceSize = __SLICESZ__
const Iterations = 10
const RowsPerThread = ArrayDim/10

var Input [__ARRAYSZ__]float64

const (
  // single whitespace character
  ws = "[ \n\r\t\v\f]"
  // isolated comment
  cmt = "#[^\n\r]*"
  // comment sub expression
  cmts = "(" + ws + "*" + cmt + "[\n\r])"
  // number with leading comments
  num = "(" + cmts + "+" + ws + "*|" + ws + "+)([0-9]+)"
)

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
  // rand.Seed(time.Now().UTC().UnixNano())
  seed := int64(12345)
  rand.Seed(seed) // deterministic seed for reproducibility

  fmt.Println("Generating array of size",ArraySize,"using random seed",seed)

  for i := 0; i < ArraySize; i++ {
    Input[i] = rand.NormFloat64()*math.Abs(1.0)
  }

  fmt.Println("Starting program");
	
  dieselacc.InitChannels(__NUM_THREADS__);

  startTime := time.Now()
  __START__THREADS__

  fmt.Println("Main thread waiting for others to finish");  
  dieselacc.Wg.Wait()

  end := time.Now()
  elapsed := end.Sub(startTime)
  fmt.Println("Elapsed time :", elapsed.Nanoseconds())
}
