package main

import (
  "math"
  "fmt"
  "strconv"
  "os"    
  "LIBRARYNAME"
)

func Min(x, y int) int {
  if x < y {
    return x
  }
  return y
}

func Max(x, y int) int {
  if x > y {
    return x
  }
  return y
}

func Idx(i, j, width int) int {
  return i*width+j
}

func floorInt(input float64) int {
	return int(math.Floor(input));
}

func ceilInt(input float64) int {
	return int(math.Ceil(input));
}

func convertToFloat(x int) float64 {
	return float64(x)
}

var Num_threads int
var Iterations int
var Sensors [__NUMSENSORS__]float64
var Sensorshumid [__NUMSENSORS__]float64
var CenterIds [8] int

__GLOBAL_DECS__

__FUNC_DECS__

func main() {
	Iterations = 20

	tid, _ := strconv.Atoi(os.Args[1])
  
  fmt.Println("Starting thread: " + os.Args[1]);
  Num_threads = __NUM_THREADS__;
	
  __START__THREADS__(tid)

}
